body{
    margin: 0;
    padding: 0;
    background-image: url(./Forest+White_River.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

/*#header{
    box-sizing: border-box;
    border: 5px solid;
    border-radius: 200px 30px 200px 30px / 100px 20px 100px 20px;
    height: 10vh;
    width: 100vw;
    background-color: palegoldenrod;
}*/

.header{
    width: 100vw;
    height: 60vh;
}

.one .two .three{
    display: flex;
    align-items: center;
}

.one #one{
    box-sizing: border-box;
    border-radius: 50%;
    width: 30vw;
    height: 60vh;
    float: left;
}

#one:hover{
    border-radius: 20%;
    filter: brightness(120%);
    filter: contrast(130%);
}

.two{
    box-sizing: border-box;
    border-radius: 100px 200px 100px 200px / 200px 100px 200px 100px;
    width: 70vw;
    height: 24vh;
    float: right;
    background-image: url(./Wood.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 30px;
    text-align: center;
}

.two:hover{
    background-image: url(./Wooden.jpg);
    filter: brightness(200%);
    filter: contrast(170%);
}

.three{
    box-sizing: border-box;
    border-radius: 200px 100px 200px 100px / 100px 200px 100px 200px;
    width: 70vw;
    height: 36vh;
    float: right;
    background-image: url(./Wood.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 25px;
    text-align: center;
    color: darkblue;
}

.three:hover{
    background-image: url(./Wooden.jpg);
    filter: brightness(200%);
    filter: contrast(170%);
    color: greenyellow;
}

.overview{
    box-sizing: border-box;
    border-radius: 100px 100px 100px 100px / 300px 300px 100px 100px;
    width: 100vw;
    height: 50vh;
    background-image: url(./Animals.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 20px;
    text-align: center;
    color: greenyellow;
}

.overview h3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.overview:hover{
    background-image: url(./Zebra.png);
    filter: brightness(150%);
    filter: contrast(170%);
    color: rgb(250, 0, 0);
}

.overview a{
    color: darkgreen;
    font-size: 25px;
}

a:link{
    color: deepskyblue;
}

a:visited{
    color: red;
}

a:hover{
    color: yellow;
}

a:active{
    color: plum;
}

.contact{
    height: 10vh;
    width: 100vw;
    background-image: url(./Wood-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 30px;
    color: red;
}

.icon-row{
    margin: auto;
    display: flex;
    justify-content: center;
    background-image: url(./Wood-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

i {
    color: red;
  }

.icon-row i{
    border-radius: 4px;
    cursor: pointer;
    font-size: 44px;
    margin: 0px 20px;
    padding: 20px 30px;
    transition: all 400ms ease-in-out;
}

.icon-row i:hover {
    background: #fff;
    color: lime;
}

.footer{
    margin: auto;
    display: flex;
    justify-content: center;
    background-image: url(./Wood-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer i{
    border-radius: 4px;
    cursor: pointer;
    font-size: 44px;
    margin: 0px 20px;
    padding: 20px 30px;
    transition: all 400ms ease-in-out;
}

.footer i:hover {
    background: #fff;
    color: lime;
}
